body{
    min-width: 400px;
    min-height: 590px;
    margin: 0;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    height: 20px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.9);
}

::-webkit-scrollbar-thumb {
    background: lightblue;
    border-radius: 10px;    
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lightblue;
    cursor: pointer;
}

::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lightblue;
    cursor: pointer;
}

.schedules{
    margin: 10px;
    width: calc(100% - 18px);
    padding-bottom: 20px;
    height: auto;
    border: 3px solid lightblue;
}

#todaySchedule h3{
    text-align: center;
}

.tableTemplate table, th, td {
    border-collapse: collapse;
}

.tableTemplate th, td {
    padding: 3.5px;
    text-align: center;    
}

#weekPeriods h3{
    text-align: center;
}

#eachPeriodButton{
    position: absolute;
    bottom: 0;
    margin: 0px;
    width: calc(100% - 20px);
    height: 8vh;
    padding: 2vh;
    background-color: lightblue;
    border: none;
    text-decoration: none;
    font-size: 3vh;
    text-align: center;
    font-weight: 600;
    color: black;
    margin: 10px;
    z-index: 10;
}

#eachPeriodButton:hover{
    background-color: blue;
    transition: 1s;
    color: white;
}

#editPeriods{
    display: none;
    z-index: 5;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 26px);
    height: 480px;
    margin: 10px;
    padding-bottom: 30px;
    overflow-y: scroll;
    border: 3px solid lightblue;
}

#home{
    max-height: 540px;
    overflow-y: scroll;
}

#newPeriod{
    position: absolute;
    top: 0;
    left: 50.5%;
    transform: translate(-49.5%);
    margin: 0px;
    width: calc(100% - 10px);
    height: 10vh;
    padding: 3vh;
    background-color: lightblue;
    border: none;
    text-decoration: none;
    font-size: 4vh;
    text-align: center;
    font-weight: 600;
    color: black;
    margin-top: 10px;
    z-index: 10;
}

#newPeriod:hover{
    background-color: blue;
    transition: 1s;
    color: white;
}

#periodTable{
    margin-top: 16vh;
    font-size: 15px;
    overflow: scroll;
}

#periodTable td{
    padding-bottom: 15px;
    font-size: 12px;
}

.edit{
    border: none;
    background: none;
    font-size: 20px;
}

.edit:hover{
    color: blue;
}

#newPeriodSettings{
    position: fixed;
    top: 87px;
    left: 49.5%;
    transform: translate(-50.5%);
    margin: 0px;
    width: calc(100% - 70px);
    height: 234px;
    background-color: white;
    border: none;
    text-align: center;
    max-height: 0px;
    overflow: hidden;
    transition: 1s;
}

#editPeriodSettings{
    position: fixed;
    top: 87px;
    left: 49.5%;
    transform: translate(-50.5%);
    margin: 0px;
    width: calc(100% - 70px);
    height: 234px;
    background-color: white;
    border: none;
    text-align: center;
    max-height: 0px;
    overflow: hidden;
    transition: 1s;
}

.submitPeriod{
    margin: 0 auto;
    margin-top: 10px;
    width: 80px;
    height: 40px;
    border-radius: 25px;
    font-size: 15px;
    border: none;
    background-color: lightblue;
}

.submitPeriod:hover{
    background-color: blue;
    transition: 1s;
    color: white;
}

.closeButton{
    border: none;
    background: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
}

.closeButton:hover{
    color: black;
    transition: 1s;
}

input{
    outline: none;
}

button{
    outline: none;
}

input[type=range]{
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=text]{
    border-radius: 15px 50px 30px;
    border: 2px solid lightblue;
    padding: 10px; 
}

.perInput{
    width: calc(100% - 110px);;
    height: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

#editSchedule{
    margin-left: -20px;
    border-radius: 10px;
    font-size: 21px;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border: none;
    background: none;
}

#editSchedule:hover{
    transition: 0.5s;
    background: lightblue;
}

#sync {
    float: left;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 21px;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border: none;
    background: none;
}

#sync:hover{
    transition: 0.5s;
    background: lightblue;
}

#editWeekSchedule{
    display: none;
    z-index: 5;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 26px);
    height: 535px;
    margin: 10px;
    padding-bottom: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 3px solid lightblue;
}

#backWeek{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 25px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    color: black;
}

#backWeek:hover{
    background-color: lightblue;
    transition: 0.7s;
}

#editWeekSchedule{
    text-align: center;
}

#weekdayBar {
    width: 100%;
    height: 25px;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#weekdayBar li{
    width: 20%;
    float: left;
    font-size: 15px;
    text-align: center;
    border: 0px solid black;
}

#weekdayBar li button{
    width: 100%;
    height: 25px;
    border: none;
    background: white;
}

#weekdayBar li button:hover{
    width: 100%;
    height: 25px;
    background: lightblue;
    transition: 0.5s;
}

#editTodayTable{
    font-size: 15px;
}

#editTodayTable td{
    padding-bottom: 12px;
}

#editTodayTable input[type=time]{
    width: 125px;
}

input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
}
  
input[type=time]::-webkit-datetime-edit-text {
    padding: 13px 1px;
}

/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 13px 7px;
}
/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 13px 7px;
}

input[type=time]::-webkit-datetime-edit-ampm-field:focus, 
input[type=time]::-webkit-datetime-edit-minute-field:focus,
input[type=time]::-webkit-datetime-edit-hour-field:focus {
    color: gray;
    text-decoration: underline;
}

/* AM/PM */
input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: lightblue;
    border-radius: 15%;
    color: #fff;
    padding: 13px 7px;
}

input[type=time]::-webkit-inner-spin-button {
    margin-top: 10px;
}

input[type=time]::-webkit-clear-button {
    display: none;
}
  

#editTodayTable select{
    margin-left: -10px;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 15px;
    border-radius: 15px;
    border: none;
    background-color: #f2f4f5;
    width: 110px;
}


#editTodayTable input{
    border: none;
}

#editTodayTable select{
    padding-top: 3.5px;
    padding-bottom: 3.5px;
}

.deletePeriod:hover{
    background: lightblue;
    transition: 1s;
}

.deletePeriod{
    border: none;
    background: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: -5px;
}

.savePeriod{
    border: none;
    background: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: -10px;
}

.savePeriod:hover{
    background: lightblue;
    transition: 1s;
}

.insertPeriod{
    margin-left: -10px;
    border: none;
    background: none;
    font-weight: 700;
    font-size: 18px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.insertPeriod:hover{
    background: lightblue;
    transition: 1s;
}

#templateB{
    margin-top: -10px;
}

.templates{
    font-size: 10px;
    border: 2px solid white;
    background: none;
    display: block;
    float: right;
    margin: 0;
    margin-right: 5px;
    padding: 3px;
}

.templates:hover{
    background: lightblue;
    transition: 0.5s
}

#addPeriod{
    font-size: 25px;
    border-radius: 15px;
    border: none;
    background-color: lightblue;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

#addPeriod:hover{
    background: blue;
    color: white;
    transition: 1s;
}


